*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
html {
    height: 100vh;
}
html * {
    @include default;
    font-family: $default-font-family;
}

main {
    margin: $regular-margin * 2;
    section {
        margin: $regular-margin;
    }
}
