$default-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$primary-foreground-color: lightgrey;
$primary-background-color: #417667;
$primary-background-color-active: #326154;
$default-foreground-color: #acacac;
$default-background-color: #222428;
$header-home-container-heigth: 3rem;
$regular-margin: 1rem;
$body-max-width: 1200px;

$tablet-size: 768px;
