header {
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    margin: $regular-margin;
    .site-title {
        position: relative;
        z-index: 1;
    }
    * {
        align-self: center;
    }
}

