.nav-menu {
    left: 0;
    top: 0;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100%;
    align-items: center;
    transform: translate(-100%, 0);
    transition: transform 150ms ease-in;
    .nav-inner-switcher {
        position: absolute;
        top: $regular-margin;
        left: $regular-margin;
    }
    ul {
        padding: 0;
        width: 100%;
        margin: $regular-margin;
        li {
            list-style: none;
            a {
                @include default-interactive;
                display: inline-block;
                padding: $regular-margin/2 $regular-margin;
                text-decoration: none;
                height: 100%;
                width: 100%;
                border-top: $default-foreground-color 2px solid;
                border-left: $default-foreground-color 2px solid;
                border-right: $default-foreground-color 2px solid;
            }
        }
        li:first-child a {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        li:last-child a {
            border-bottom: $default-foreground-color 2px solid;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}

.nav-switcher:checked + .nav-menu {
    transform: translate(0, 0);
    transition: transform 250ms ease-out;
}
