.metadata-container {
    display: flex;
    flex-flow: column;
}

@media only screen and (min-width: $tablet-size) {
    .metadata-container {
        flex-flow: row-reverse;
        justify-content: start;
    }
}
